In [7]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                             'foo', 'bar', 'foo', 'foo'],
                       'B' : ['one', 'one', 'two', 'three',
                              'two', 'two', 'one', 'three'],
                       'C' : np.random.randn(8),
                      'D' : np.random.randn(8)})

In [8]:
df

     A      B         C         D
0  foo    one -1.104134  0.344990
1  bar    one  0.366749  1.096605
2  foo    two  0.314476  2.051181
3  bar  three -1.719712  0.002897
4  foo    two  1.572995  0.796377
5  bar    two -0.740650  0.990802
6  foo    one -1.655567 -0.413608
7  foo  three -1.490923 -0.624959

In [22]:
df.groupby(['A'])['B']

A
bar    3
foo    5
Name: B, dtype: int64

In [12]:
In [5]: def get_letter_type(letter):
   ...:     if letter.lower() in 'aeiou':
   ...:         return 'vowel'
   ...:     else:
   ...:         return 'consonant'
   ...: 

In [6]: grouped = df.groupby(get_letter_type, axis=1)

In [14]:
grouped.sum()

   consonant vowel
0  -0.759144   foo
1   1.463354   bar
2   2.365657   foo
3  -1.716815   bar
4   2.369372   foo
5   0.250151   bar
6  -2.069174   foo
7  -2.115883   foo

In [23]:
df3 = pd.DataFrame({'X' : ['A', 'B', 'A', 'B'], 'Y' : [1, 4, 3, 2]})

In [24]:
df3

   X  Y
0  A  1
1  B  4
2  A  3
3  B  2

In [27]:
group = df3.groupby('X')

In [28]:
group.get_group('A')

   X  Y
0  A  1
2  A  3

In [31]:
group.groups

{'A': [0, 2], 'B': [1, 3]}

In [32]:
grouped.groups

{'consonant': ['B', 'C', 'D'], 'vowel': ['A']}

In [34]:
grouped.get_group('consonant')

       B         C         D
0    one -1.104134  0.344990
1    one  0.366749  1.096605
2    two  0.314476  2.051181
3  three -1.719712  0.002897
4    two  1.572995  0.796377
5    two -0.740650  0.990802
6    one -1.655567 -0.413608
7  three -1.490923 -0.624959

In [35]:
grouped = df.groupby(['A', 'B'])

In [36]:
df

     A      B         C         D
0  foo    one -1.104134  0.344990
1  bar    one  0.366749  1.096605
2  foo    two  0.314476  2.051181
3  bar  three -1.719712  0.002897
4  foo    two  1.572995  0.796377
5  bar    two -0.740650  0.990802
6  foo    one -1.655567 -0.413608
7  foo  three -1.490923 -0.624959

In [42]:
grouped.get_group(('bar', 'two'))

         C         D
5 -0.74065  0.990802

In [43]:
grouped.groups

{('bar', 'one'): [1],
 ('bar', 'three'): [3],
 ('bar', 'two'): [5],
 ('foo', 'one'): [0, 6],
 ('foo', 'three'): [7],
 ('foo', 'two'): [2, 4]}

In [44]:
grouped.get_group(('foo', 'one'))

          C         D
0 -1.104134  0.344990
6 -1.655567 -0.413608